<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps Notes</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

	
   
</head>

<body>

    <h1>DevOps Notes</h1>

    <div class="note-form">
        <form>
            <input
                type="text"
                placeholder="Note title"
                required
            >

            <textarea
                placeholder="Write your note..."
                required
            ></textarea>

            <button class="add-button" type="submit">
                Add Note
            </button>
        </form>
    </div>

    <div class="notes">

        <div class="note">
            <h2>First Note</h2>
            <p>This is my first DevOps note.</p>
            <button class="delete-button">
                Delete
            </button>
        </div>

        <div class="note">
            <h2>Docker</h2>
            <p>Learn how Docker images and containers work.</p>
            <button class="delete-button">
                Delete
            </button>
        </div>

    </div>

</body>
</html>
